# Node / App
NODE_CONTAINER_NAME=
NODE_VERSION=
NODE_PORT=
NODE_ENV=

# Mongo
MONGO_URI=
MONGO_CONTAINER_NAME=
MONGO_VERSION=
MONGO_PORT=
MONGO_DATABASE=
MONGO_COLLECTION=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_AUTH_SOURCE=

# App configuration
# memory | mongo
PERSISTENCE=
