# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea
coverage

# Local files to have migrations on MongoDB on local machine
mongo-migrations/.env
mongo-migrations/.env.local
mongo-migrations/node_modules


# local env files
.env


# Stryker
.stryker-tmp
